#modal
    #back
        .eModalWrap
            .bModalHeader
                a.bModalClose
            .bModalContent
                img.bImgIcon(src='img/icon-warning_notify-red.svg')
                p.bConfirm Are you sure you want to uninstal the Shasam app
            .bModalFooter
                button.bBtn.mCancel Cancel
                button.bBtn.mAccept Uninstall